@import ../../globals

.LastFile
    display: flex
    align-items: center
    justify-content: space-between
    height: 60px
    width: 100%
    &:hover
        background: #EAEDF4
        transition: .2s linear all

.lastFilesIcon
    display: flex
    width: 40px
    height: 40px
    border-radius: 8px
    background: #FFF0E2
    opacity: 1
    justify-content: center
    align-items: center
    margin-right: 10%
    flex-shrink: 0

.fileName
    width: 200px
    font-size: 16px
    font-style: normal
    color: $color-main-blue

.img
    width: 40px
    height: 40px
    margin-right: -10px

.moreImg
    display: flex
    width: 40px
    height: 40px
    background: $color-light-blue
    border-radius: 8px
    align-items: center
    justify-content: center
    color: $color-main-blue
    font-size: 13px
    font-style: normal
    line-height: 18px

.ShareImg
    display: flex
    height: 60px
    align-items: center
    margin-right: 45px

.moreFunction
    margin-right: 30px
    margin-left: 70px

.lastFileName
    display: flex
    align-items: center

.fileDate
    margin-left: 90px
    width: 175px
    height: 20px
    display: inline-block


.fileSize
    width: 60px
    height: 30px

.fileSizeDiv
    width: 400px
    height: 30px