@import ../../app/MainLayout/globals

.header
    display: flex
    flex-direction: row
    height: 45px
    margin-top: 30px
    margin-right: 63px
    margin-bottom: 50px


.cont
    display: flex
    justify-content: flex-start
    width: 100%

.mainTitle
    display: flex
    color: $color-dark-blue
    font-size: 32px
    font-weight: 700
    margin: 0
    flex-shrink: 0
    min-width: 200px

.search
    display: flex
    padding: 8px 16px
    background: #fff
    border-radius: 8px
    input
        width: 304px
        height: 24px
        border: none
    img
        width: 24px
        height: 24px
        margin-right: 16px 
        border-radius: 8px

.headerBtn
    border-radius: 8px
    background: white
    border: none
    width: 45px
    height: 45px
    flex-shrink: 0
    margin: 0

.btns
    display: flex
    gap: 15px
    flex-shrink: 0

.headerBtnProfile
    border-radius: 8px
    background: white
    border: none
    width: 45px
    height: 45px
    margin: 0
    padding: 0

        



.contBtn2
    display: flex


.notification
    flex-shrink: 0
    width: 332px
    height: 280px
    background-color:#FFF
    overflow: auto
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    border-radius: 5px
    filter: drop-shadow(0px 2px 30px rgba(0, 0, 0, 0.1))
    .card
        width: 286px
        height: 45px
        margin-top: 12px
        flex-shrink: 0
        background-color:#FFF
        border-radius: 5px
        background: #E6E6E6 
        display: flex
        justify-content: flex-start
        align-items: center
        padding: 10px 16px 10px 5px
        .logo
            width: 37px
            height: 37px
            flex-shrink: 0
            border-radius: 5px
            background: #FFF
            margin-right: 12px
            display: flex
            justify-content: center
            align-items: center
            img
                
        .text
            width: 174px
            height: 37px
            flex-shrink: 0 
            color: #696A75
            font-size: 14px
            font-style: norma
            font-weight: 400
            line-height: normal
            margin-right: 26px
        .btn
            width: 22px
            height: 22px






    