.MainCont
    height: 760px
    background-color: #000
    width: 1505px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center


.topBlock
    height: 500px
    background-color: #df0000
    width: 1505px

.underBlock
    height: 260px
    background-color: #00df70
    width: 1505px