$color-main-gray: #838D94
$color-light-blue: #EBF2FF
$color-main-blue: #0061FF
$color-dark-blue: #051F61





    
@mixin main-button($color)
    background: $color
    width: 140px
    height: 40px
    border-radius: 8px
    border: none
    