.Profile
    width: 360px
    height: 370px
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    padding: 20px 20px 10px 20px



.Main
    width: 240px
    height: 50px
    margin-bottom: 10px
    display: flex
    justify-content: flex-start
    align-items: center
    svg
        margin-right: 30px
    .cont
        display: flex
        flex-direction: column
        width: 190px
        height: 50px
        .el1
            color: rgb(0, 0, 0)
            font-size: 16px
            font-weight: 700
            line-height: 17px
            letter-spacing: 0%
            text-align: left
            margin-bottom: 5px
        .email
            color: rgb(112, 112, 112)
            font-size: 13px
            font-weight: 400
            line-height: 14px
            letter-spacing: 0%
            text-align: left



.Tarif
    width: 240px
    height: 50px
    margin-bottom: 10px
    display: flex
    flex-direction: column
    .el1
        color: rgb(112, 112, 112)
        font-size: 14px
        font-weight: 400
        line-height: 12px
        letter-spacing: 0%
        text-align: left
        margin-bottom: 10px
    .chose
        color: rgb(0, 0, 0)
        font-size: 14px
        font-weight: 600
        line-height: 14px
        letter-spacing: 0%
        text-align: left
        text-decoration-line: underline




.line
    border: 1px solid rgb(190, 190, 190)
    width: 309px
    margin-bottom: 10px


.cont
    width: 240px
    height: 195px
    display: flex
    flex-direction: column
    color: rgb(0, 0, 0)
    font-size: 16px
    font-weight: 400
    line-height: 200%
    letter-spacing: 0%
    text-align: left
    svg
        margin-right: 8px
    .Blocknot
        display: flex
        align-items: center
        width: 240px
        height: 35px

        margin-bottom: 5px
    .theme
        display: flex
        width: 240px
        height: 35px
        align-items: center
        margin-bottom: 5px
    .langth
        display: flex
        width: 240px
        height: 35px
        align-items: center
        margin-bottom: 5px
    .options
        display: flex
        width: 240px
        height: 35px
        align-items: center
        margin-bottom: 5px
    .exit
        display: flex
        width: 240px
        height: 35px
        align-items: center
        margin-bottom: 5px
